body {
  height: 100vh;
  margin: 0;
  background-color: rgb(180, 180, 180);
}

body > h1 {
  text-align: center;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.color {
  margin: 10px;
  width: 150px;
  height: 280px;
  background-color: white;
  position: relative;
  border: 5px solid white;
}

.First > div:first-child {
  background-color: tomato;
}

.First > div:nth-child(2) {
  background-color: teal;
}

.Second > div:first-child {
  background-color: burlywood;
}

.Second > div:nth-child(2) {
  background-color: thistle;
}
/*
.tomato {
  background-color: tomato;
}


.teal {
  background-color: teal;
}

.burlywood {
  background-color: burlywood;
}

.thistle {
  background-color: thistle;
}
*/
.content {
  width: 151px;
  height: 100px;
  background-color: white;
  position: absolute;
  top: 20px;
}

h2,
h3 {
  margin-top: 10px;
}
