@import "reset.css";

@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap");

:root {
  --main-color: rgb(0, 0, 0, 0.8);
  --sub-color: rgb(0, 0, 0, 0.5);
  --title-font: "Balsamiq Sans", cursive;
}

body {
  height: 100vh;
  box-sizing: border-box;
  background-color: #e8efeb;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 450;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  width: 200px;
  height: 500px;
  background-color: white;
  border-radius: 20px;
  padding: 15px;
  margin: 0 80px;
  box-shadow: 0px 0px 10px 0px var(--sub-color);
}

.shadow {
  box-shadow: 0px 1px 8px 0px var(--sub-color);
}

.section-title {
  font-family: "Balsamiq Sans", cursive;
  font-weight: 700;
  color: var(--main-color);
}

.header {
  width: 100%;
  height: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.playlist__info {
  text-align: center;
}

.playlist__info img {
  border-radius: 50%;
  margin: 20px 0px;
}

.section-title {
  margin-bottom: 3px;
}

.section-subtitle {
  font-size: 12px;
  font-weight: 500;
  color: var(--sub-color);
}

.playlist__btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.playlist__btn {
  width: 70px;
  height: 25px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}

.playlist__btn__shuffle {
  background-color: var(--main-color);
}

.playlist__btn__heart {
  background-color: var(--sub-color);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.playlist__btn span {
  font-size: 11px;
  color: white;
}

.playlist__songs__song {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;

  border-radius: 15px;
  margin-bottom: 8px;
}

.playlist__songs__song img {
  border-radius: 15px;
  margin-left: 6px;
}

.music-icon {
  position: relative;
}

.music {
  position: absolute;
  right: 9px;
  top: 13px;
  color: white;
}

.playlist__songs__song__info-icon {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}

.playlist__song__song__info {
  display: flex;
  flex-direction: column;
}

.playlist__songs__song__info__subtitle {
  color: var(--sub-color);
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 4px;
}

.playlist__songs__song__info__title {
  font-family: var(--title-font);
  font-size: 16px;
  font-weight: 700;
}

.playlist__play {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 50px;
  border-radius: 30px;
  background-color: var(--main-color);
}

.playlist__song__info {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.playlist__song__info__subtitle {
  color: rgba(218, 216, 216, 0.6);
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 4px;
}

.playlist__song__info__title {
  font-family: var(--title-font);
  font-size: 16px;
  font-weight: 700;
  color: white;
}

.playlist__play__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.playlist__play__btn i:nth-child(2) {
  margin: 0px 10px;
}

.playing__info {
  text-align: center;
  margin-bottom: 35px;
}

.playing__info img {
  margin-top: 60px;
  margin-bottom: 30px;
  border-radius: 20px;
}

.playing__time {
  display: flex;
  justify-content: space-between;
  color: rgba(90, 89, 89, 0.4);
  font-size: 10px;
  font-weight: 500;
}

input[type="range"] {
  width: 70%;
  -webkit-appearance: none;
  background-color: var(--main-color);
  margin-bottom: 50px;
}

.timebar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: var(--main-color);
  border-width: 20px 0;
}

.playing__btns {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.playing__btns :first-child,
.playing__btns :last-child {
  color: rgba(90, 89, 89, 0.4);
}

.fa-play-circle {
  border-radius: 50%;
}
